h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

div {
    border-radius: 5px;
    text-align: center;
    width: 50%;
    margin: auto;
}

div.result_query {
    margin: auto;
    padding: 2%;
    border: dashed orange 2px;
    text-align: center;
}

div.error_text {
    color: red;
}

div.success_text {
    color: green;
}